.container {
    margin-top: 20px;
    padding-right: -20px;
    padding-bottom: 20px;
}

.form-control {
    display: none;
}

.form-label {
    margin-top: -20px !important;
    margin-bottom: -20px;
}

.select-wrapper {
    margin-top: -22px;
}

.select-wrapper input.select-dropdown {
    text-align: center;
}

.col {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.row {
    margin-bottom: 0 !important;
}

.lineButton {
    text-align: right;
}

.btn {
    border-radius: 0px;
    padding: 10px 30px 30px 30px;
}

.btn:hover {
    color: #FFF;
}

.alerts {
    color: red;
    margin-bottom: 10px;
}

.colLateral {
    margin-top: -20px;
    height: 100vh !important;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

img {
    width: 150px;
    margin-bottom: 20px
}

label {
    margin-bottom: .5rem !important;
}

.md-icons {
    font-size: 5rem;
    border: 1px solid #eee;
    /* background: #eee; */
    border-radius: 50px;
    box-shadow: 0px 1px 10px #999;
    display: none;
}

.marginCorrection {
    margin-bottom: 10px
}

@media only screen and (max-width: 991px) {
    .md-icons {
        display: inline;
    }
}